header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}



div.serviceCards {
    section { // the 25% below reference how much space 1 card takes up. w 4 cards in a row, dividing 100/4 to get even space
        flex-basis: calc(25% - (($gutter *3)/4)); //there are 3 gutters in between the cards (gutter*3), and there are 4 cards per row (/4)
    }
}

footer div {
    grid-template-columns: auto auto auto;
}