header {
 padding: 2rem $gutter;
 h1 {
    font-size: 2rem;
    font-weight: $boldWeight;
}   
}

// NAV STUFF
nav {
    display: flex;
    justify-content: flex-start;
    button {
        display: none;
    }
    ul, ul.open{
        display: flex;
        border: none;
        margin-left: 2vw; //this lines the left edges of the logo
        li {
            border: none;
        }
    }
}


// MAIN STUFF
div.serviceCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter/2));
    }
}

div.hero {
    p {font-size: 2rem;}
}


// FOOTER STUFF
footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}