/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

// START HEADER
#headerWrapper {
    background-color: $secondaryColor;
    color: black;
}

header {
        align-items: center;
        padding: 1rem $gutter;
        gap: 8px;
        display: grid;
        grid-template-columns: 62px auto 50px;
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $boldWeight;
    }
    // a {} change the color of the phone icon when i have the color palette chosen
    a:hover {
        background-color: rgb(167, 167, 167);
        border-radius: 5px;
    }
}
// END HEADER


// START NAV
#navWrapper {
    background-color: $secondaryColor;
}

nav {
    button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        padding: .6rem;
    }
    button span:nth-child(1) {display: block;}
    button span:nth-child(2) {display: none;}
    button.open span:nth-child(1) {display: none;}
    button.open span:nth-child(2) {display: block;}
    ul {
        display:none; //when the ul doesn't have a class, we don't want it to display.
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: solid 1px $blue;
        li {
            border-bottom: solid 1px $blue;
            a {
                display: block;
                padding: .9rem;
                color: black;
                text-decoration: none;
            }
        } //end li
        li.active a {
            background-color: $blue;
        }
        li a:hover {
            background-color: lighten($blue, 10%);
        }
    }// end ul
    ul.open {
        display: block;
    }
}
// END NAV



// START MAIN
main h1, div.allCards{ 
    margin: 2vw;

}


div.hero {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    h1 {
        margin: 0;
    }
    p {
        position: absolute;
        background: linear-gradient(90deg, rgba(16,20,29,0.4) 0%, rgba(16,20,29,.9) 50%, rgba(16,20,29,.4) 100%);
        margin: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: white;
    }
}


div.allCards {
    section {
        border: 2px solid $blue;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h2 {
            background-color: $secondaryColor;
            font-size: 1.5rem;
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
            display: block; //by default the img is inline, so we change it to block which gets rid of the small gap between things
        }
        img.e2e {padding: 0;}
        p {
           font-style: italic;
        }
        a {
            display: block; //by default, its inline, and changing it to block lets us add padding
            background-color: $primaryColor;
            padding: .75rem;
            text-align: center;
            margin: 0 3rem 1rem 3rem;
            border-radius: 8px;
            color: black;
            text-decoration: none;
            font-weight: $boldWeight;
            &:hover {
                background-color: darken($primaryColor, 5%);}
        }
    }
} // end div.allCards


// END MAIN




// footer stuff start
#footerWrapper {
    background-color: $cream;
}

footer {
    padding: 0.5rem $gutter;
    font-weight: $normalWeight;
    color: black;
 
    p.legal {
        margin: 0;
        padding: .5rem;
        text-align: center;
        font-size: .9rem;
    }
} // END OF FOOTER STUFF