/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

// START HEADER
#headerWrapper {
    background-color: $secondaryColor;
    color: black;
}

header {
    align-items: center;
    padding: 1rem $gutter;
    gap: 8px;
    display: grid;
    grid-template-columns: 112px auto 50px;

    a.phone {
        grid-column: 3/span 1;
        color: $primaryColor;
        &:hover {
            background-color: rgb(167, 167, 167);
            border-radius: 5px;
        }
    } // change the color of the phone icon when i have the color palette chosen

}
// END HEADER


// START NAV
#navWrapper {
    background-color: $secondaryColor;
}

nav {
    button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        padding: .6rem;
    }
    button span:nth-child(1) {display: block;}
    button span:nth-child(2) {display: none;}
    button.open span:nth-child(1) {display: none;}
    button.open span:nth-child(2) {display: block;}
    ul {
        display:none; //when the ul doesn't have a class, we don't want it to display.
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: solid 1px $green;
        li {
            border-bottom: solid 1px $green;
            a {
                display: block;
                padding: .9rem;
                color: black;
                text-decoration: none;
                &:hover {background-color: darken($secondaryColor, 10%);}
            }
        } //end li
        li.active a {background-color: $green;}
    }// end ul
    ul.open {display: block;}
}
// END NAV



// START MAIN
main h1, div.serviceCards, #cards { 
    margin: 2vw;

}

// HERO IMAGE STUFF
div.hero {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    h1 {margin: 0;}
    p {
        position: absolute;
        background: linear-gradient(90deg, rgba(16,20,29,0.4) 0%, rgba(16,20,29,.9) 50%, rgba(16,20,29,.4) 100%);
        margin: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: white;
    }
}

// SERVICES PROVIDED CARDS
div.serviceCards {
    section {
        border: 2px solid $green;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h2 {
            font-size: 1.5rem;
            text-align: center;
        }
        img {
            width: 50%;
            position: relative;
            margin: auto;
            height: auto;
            display: block; //by default the img is inline, so we change it to block which gets rid of the small gap between things
        }
        div.animationContainer {
            padding-top: 5px;
            height: auto;
            width: 100%;
            overflow: hidden;
        }
        a {
            display: block; //by default, its inline, and changing it to block lets us add padding
            background-color: $green;
            padding: .75rem;
            text-align: center;
            margin: 0 3rem 1rem 3rem;
            border-radius: 8px;
            color: black;
            text-decoration: none;
            font-weight: $boldWeight;
            &:hover {
                background-color: darken($green, 5%);}
        }
    }
}

section.scale:hover img {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}


// REVIEW SECTION
div.reviewContainer {
    background-color: $secondaryColor;
    text-align: center;
    padding: 2rem 0;
    img {
        width: 20px;
    }
}

#cards {
    text-align: center;
    h3 {
        font-weight: $boldWeight;
        margin: 2rem $gutter .2rem $gutter;
        text-align: center;
    }
    p {margin: .2rem 0;}
}

// END MAIN




// footer stuff start
#footerWrapper {
    background-color: $primaryColor;
}

footer {
    padding: 0.5rem $gutter;
    font-weight: $lightWeight;
    color: white;
 
    p.legal {
        margin: 0;
        padding: .5rem;
        text-align: center;
        font-size: .9rem;
    }
} // END OF FOOTER STUFF
