$primaryColor: #2A324B; 
$secondaryColor: #E3DBDB;
$cream: #f8f8e3;
$green: #6B8F71;

$fontColor: #333;
$defaultFont: 'Poppins', sans-serif; 
$lightWeight: 200;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;


// cutie pink fe9c97
// stroke pink ba5e62
// dark blue 69afad
// logo background f8f8e3
// circle stroke d5e6e2